<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="../styles/milligram.min.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
<main class="wrapper">
    <#include "header.html"/>
    <section class="container" style="max-width:30rem;">
        <div class="discuss"><div class="discuss-content"><img class="img" src="url" width="50" height="50"/><a href="#">username</a></br>content</div></div>
    </section>
</main>
</body>
</html>